@media (min-width: 769px) and (max-width: 1299px) {
  /* ########## Header ########## */
  .header-inner {
    width: 100%;
    padding: 15px;
  }
  /* ########## Section: intro ########## */
  .intro-inner {
    width: 100%;
    padding: 15px;
  }
  .intro-inner .text {
    left: 15px;
  }
  .intro-image {
    right: 15px;
  }
  /* ########## Section: about ########## */
  .about-inner {
    width: 100%;
  }
  .edu-ex-inner {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .edu-ex-inner > div {
    float: left;
    width: 50%;
  }
  .edu-ex-inner > div:nth-child(1) {
    width: 50%;
  }
  .edu-ex-inner > div:nth-child(2) {
    width: 50%;
  }
  .edu-ex-inner > div:nth-child(1) {
    padding-left: 0;
  }
  .edu-ex-inner h3 {
    font-size: 20px;
  }
  .edu-ex-inner ul li div {
    float: none;
  }
  .edu-ex-inner .left {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .edu-ex-inner .left p {
    display: inline;
    font-size: 14px;
  }
  .edu-ex-inner .left br {
    display: none;
  }
  .edu-ex-inner .left:after {
    display: none;
  }
  .edu-ex-inner .left:before {
    display: none;
  }
  .edu-ex-inner .right {
    margin: 0;
    margin-bottom: 10px;
  }
  .edu-ex-inner .right p {
    font-size: 15px;
  }
  .edu-ex p {
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  .headshot {
    margin-left: 15px;
    text-align: center;
    width: 20%;
  }
  .info {
    width: 100%;
  }
  .about-text {
    float: left;
    padding-left: 0;
    margin-left: 42px;
  }
  /* ########## Section: web ########## */
  .web-inner {
    width: 100%;
  }
  .tab {
    text-align: center;
  }
  .tab-img {
    float: none;
    width: 700px;
    margin: auto;
  }
  .tab-desc {
    float: none;
    width: 100%;
  }
  .web-img-sub {
    display: none;
    width: 450px;
    height: 450px;
    top: 20px;
  }
  .web-img {
    top: 0;
    width: 500px;
    height: 300px;
    overflow: hidden;
    position: relative;
  }
  .web-img.one {
    margin: auto;
    width: 600px;
    height: 320px;
  }
  .web-img img {
    position: absolute;
    width: 500px;
  }
  .web-img.one img {
    width: 600px;
  }
  .mobile-img {
    top: 0;
    right: 0;
  }
  .tab-desc {
    float: none;
    width: 100%;
    margin-top: 20px;
  }
  /* ########## Section: coding ########## */
  .coding-inner,
  .design-inner {
    width: 100%;
  }
  .codings,
  .design {
    width: 100%;
    float: none;
  }
  /* ########## Section: project ########## */
  .project-inner {
    width: 100%;
  }
  .project-contents {
    flex-wrap: wrap;
  }
  .project-content {
    width: 100%;
    margin-left: 0;
  }
  .project-content img {
    float: left;
    width: 50%;
    object-fit: cover;
  }
  .project-content div {
    float: left;
    width: 50%;
    text-align: left;
    padding-left: 40px;
  }
  .project-content div p {
    margin: 0;
  }
  .project-content:first-child {
    border: none;
  }
  /* ########## Section: skill ########## */
  .skill-inner {
    width: 100%;
    padding: 0 15px;
  }
  .introduces h2,
  .my-part > h2 {
    margin-bottom: 30px;
  }
  .skills {
    display: flex;
    flex-wrap: wrap;
  }
  .skill-desc {
    height: auto;
    width: 32%;
    margin-right: 2%;
  }
  .skill-desc:nth-child(3),
  .skill-desc:nth-child(6) {
    margin-right: 0;
  }
  .skill-desc:nth-child(4) {
    margin-right: 2%;
  }
  /* ########## Section: contact ########## */
  .contact-inner {
    width: 100%;
    padding: 0 15px;
  }
  .contact-inner h1 {
    font-size: 58px;
  }
  /* ########## modal ########## */
  .modal_content {
    width: 97%;
    height: 97%;
  }
  .modal_content.detail {
    width: 100%;
  }
  /* ########## illustrator.html ########## */
  .project-illustrator,
  .project-react {
    width: 100%;
  }
  .project-react {
    padding-bottom: 0;
  }
  /* ########## react.html ########## */
  .project-react {
    width: 100%;
  }
}

@media (max-width: 768px) {
  /* Default CSS */
  body {
    font-size: 16px;
  }
  .intro,
  .about,
  .skill,
  .mobile,
  .web,
  .coding,
  .project,
  .contact {
    padding: 70px 15px 0;
  }
  .intro {
    padding-top: 120px;
  }
  /* Common CSS*/
  .headline-share {
    line-height: 1.1em;
  }
  /* ########## Header ########## */
  .header-inner {
    width: 100%;
    margin: 0 15px;
  }
  .logo {
    float: none;
  }
  .gnb {
    display: none;
    float: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    background-color: #eee;
    height: 100%;
    width: 100%;
    padding-top: 40px;
  }
  .gnb.active {
    display: block;
  }
  .gnb a {
    display: block;
    padding: 28px 0;
    text-align: center;
    margin-left: 0;
    color: #000;
    font-size: 20px;
  }
  .gnb a:after {
    width: 0;
    margin: auto;
    text-align: center;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
  }
  .gnb a:hover:after {
    width: 30%;
  }
  .trigger {
    display: block;
    width: 30px;
    height: 15px;
    position: absolute;
    right: 15px;
    top: 19px;
    z-index: 200;
  }
  .trigger span {
    position: absolute;
    display: block;
    border: none;
    height: 2px;
    background: #222;
    transition: 0.2s;
  }
  .trigger span:nth-child(1) {
    width: 80%;
    top: 0;
  }
  .trigger span:nth-child(2) {
    width: 50%;
    top: 50%;
  }
  .trigger span:nth-child(3) {
    width: 70%;
    top: 100%;
  }
  .trigger.active span:nth-child(1) {
    width: 100%;
    top: 50%;
    transform: rotate(45deg);
  }
  .trigger.active span:nth-child(2) {
    display: none;
  }
  .trigger.active span:nth-child(3) {
    width: 100%;
    top: 50%;
    transform: rotate(-45deg);
  }
  /* ########## Section: intro ########## */
  .intro-inner {
    width: 100%;
    height: 100%;
  }
  .intro-inner .text {
    position: static;
  }
  .intro-inner p {
    font-size: 20px;
  }
  .intro-inner h3 {
    font-size: 35px;
    margin: 15px 0;
    display: none;
  }
  .intro-inner h1 {
    font-size: 43px;
    font-weight: 600;
    margin: 4px 0 16px;
  }
  .intro-inner span {
    font-size: 16px;
    display: inline;
    padding: 0;
    padding-right: 10px;
    background-color: transparent;
    color: #444;
  }
  .intro-image {
    display: none;
  }
  /* ########## Section: about ########## */
  .about {
    width: 100%;
  }
  .about-inner {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .headshot {
    float: none;
    width: 100%;
    text-align: center;
  }
  .about-text {
    float: none;
    width: 100%;
    padding: 0;
  }
  .about-text p {
    width: 100%;
  }
  .edu-ex-inner {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .edu-ex-inner > div {
    float: none;
  }
  .edu-ex-inner > div:nth-child(1) {
    width: 60%;
    width: 100%;
  }
  .edu-ex-inner > div:nth-child(2) {
    width: 100%;
  }
  .edu-ex-inner > div:nth-child(1) {
    padding-left: 0;
  }
  .edu-ex-inner h3 {
    font-size: 20px;
  }
  .edu-ex-inner ul li div {
    float: none;
  }
  .edu-ex-inner .left {
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .edu-ex-inner .left p {
    display: inline;
    font-size: 14px;
  }
  .edu-ex-inner .left br {
    display: none;
  }
  .edu-ex-inner .left:after {
    display: none;
  }
  .edu-ex-inner .left:before {
    display: none;
  }
  .edu-ex-inner .right {
    margin: 0;
    margin-bottom: 10px;
  }
  .edu-ex-inner .right p {
    font-size: 15px;
  }
  .edu-ex p {
    line-height: 1.2em;
    margin-top: 0;
    margin-bottom: 10px;
  }
  /* ########## Section: web ########## */
  .web-inner {
    width: 100%;
  }
  .tab-btn {
    padding: 20px 0;
  }
  .tab-btn label {
    padding: 0 15px;
    line-height: 0;
  }
  .tab-btn label p:after {
    bottom: -15px;
    height: 3px;
  }
  .tab-img {
    float: none;
    width: 100%;
  }
  .web-img-sub {
    display: none;
  }
  .web-img {
    position: sticky;
    width: 90%;
    height: 300px;
    margin: auto;
    border: 1px solid #000;
  }
  .web-img img {
    width: 100%;
  }
  .mobile-img {
    display: none;
  }
  .tab-desc {
    float: none;
    width: 100%;
    text-align: center;
    margin-top: 20px;
  }
  .tab-desc br {
    display: none;
  }
  .tab-desc button {
    margin-top: 20px;
  }
  input[id="tab1"]:checked ~ .tab-btn label:nth-child(1) p:after,
  input[id="tab2"]:checked ~ .tab-btn label:nth-child(2) p:after,
  input[id="tab3"]:checked ~ .tab-btn label:nth-child(3) p:after,
  input[id="tab4"]:checked ~ .tab-btn label:nth-child(4) p:after,
  input[id="tab5"]:checked ~ .tab-btn label:nth-child(5) p:after {
    bottom: -15px;
    height: 3px;
  }
  /* ########## Section: coding, design ########## */
  .coding-inner,
  .design-inner {
    width: 100%;
  }
  .codings,
  .design {
    width: 100%;
    float: none;
  }
  .codings h3,
  .design h3 {
    font-size: 24px;
  }
  .slick-prev::before,
  .slick-next::before {
    display: none;
  }
  .slide-content p {
    bottom: -5px;
    background-color: #44444480;
  }
  .slick-dots {
    margin-bottom: 10px;
  }
  /* ########## Section: project ########## */
  .project-inner {
    width: 100%;
  }
  .project-contents {
    flex-wrap: wrap;
  }
  .project-content {
    width: 100%;
    padding: 0;
  }
  .project-content br {
    display: none;
  }
  .project-content:first-child {
    border: none;
  }
  .project-content h3 {
    margin-bottom: 0;
  }
  .project-content img {
    width: 100%;
    height: auto;
  }
  .project-content button {
    margin: 10px 0 40px;
  }
  /* ########## Section: skill ########## */
  .skill-inner {
    width: 100%;
  }
  .skill-desc {
    width: 100%;
    float: none;
    height: auto;
    margin-bottom: 15px;
  }
  /* ########## Section: contact ########## */
  .contact-inner {
    width: 100%;
  }
  .contact-inner h1 {
    font-size: 50px;
  }
  .contact-info {
    font-size: 18px;
  }
  .contact-info b {
    font-size: 24px;
    display: block;
  }
  .contact-inner > p {
    font-size: 14px;
    margin: 20px 0 0;
    padding-bottom: 10px;
  }
  /* ########## modal ########## */
  .modal_content {
    width: 90%;
    height: auto;
  }
  .modal_content.detail {
    width: 100%;
  }
  /* ########## slick ########## */
  .slick-next {
    right: 25px;
  }
  /* ########## scroll-top ########## */
  .scroll-top {
    right: 10px;
  }
  .scroll-top.active {
    right: 10px;
    bottom: 10px;
  }
  /* ########## featherlight ########## */
  .featherlight .featherlight-content {
    border-bottom: none;
  }
  /* ########## illustrator.html ########## */
  .project-illustrator,
  .project-react {
    width: 100%;
    padding: 100px 15px 0;
  }
  .illustrator h1,
  .react h1 {
    font-size: 24px;
  }
  .illustrator-slide {
    height: auto;
  }
  .featherlight .featherlight-close-icon {
    right: 20px;
    top: 67px;
  }
  .project-gallery {
    width: auto;
  }
  /* ########## react.html ########## */
  .project-react {
    width: 100%;
    padding-top: 70px;
  }
  .introduces h2,
  .my-part h2 {
    font-size: 22px;
    font-weight: 500;
  }
  .introduce {
    flex-direction: column;
  }
  .introduce div {
    margin: 0;
  }
  .introduce-img img {
    margin: 10px 0;
  }
  .introduces p {
    font-size: 15px;
  }
  .my-part div {
    flex-direction: column;
  }
  .my-part div div {
    padding: 10px 0;
  }
  .my-part div div:first-child {
    margin-right: 0;
  }
  .my-part .image {
    order: 1;
  }
  .my-part .desc {
    height: auto;
    padding: 10px;
    order: 2;
    margin-bottom: 20px;
  }
  .my-part p {
    padding: 0 0 15px 0;
  }
  .components {
    padding-bottom: 30px;
  }
}
