body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
}
.container {
  width: 120px;
  height: 120px;
  border-radius: 56px;
  border: 1px solid #000;
  position: relative;
  border: 6px solid #fff;
  background-color: lightblue;
}
.fa-question {
  font-size: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  animation: trans0 2s;
  opacity: 0;
}
@keyframes trans0 {
  0% {
    opacity: 1;
  }
  20% {
    transform: scale(0.9) translate(-50%, -50%);
  }
  60% {
    transform: scale(1) translate(-50%, -50%);
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.border {
  width: 111px;
  height: 72px;
  border-radius: 55% 45% 70% 30% / 50% 59% 41% 50%;
  position: absolute;
  left: 50%;
  top: 27%;
  transform: translateX(-50%);
  background-color: lightslategray;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.1);
  animation: trans1 3s;
}
.left-eye {
  position: absolute;
  left: 39px;
  top: 16px;
  width: 5px;
  height: 5px;
  border-radius: 46% 54% 42% 58% / 59% 35% 65% 41%;
  background: #444;
}
.right-eye {
  position: absolute;
  left: 47px;
  top: 14px;
  width: 7px;
  height: 7px;
  border-radius: 57% 43% 61% 39% / 59% 59% 41% 41%;
  background: #444;
}
.mouse {
  position: absolute;
  left: 41px;
  top: 22px;
  width: 8px;
  height: 1.5px;
  background-color: #444;
}
@keyframes trans1 {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
.fa-heart {
  color: rgb(225, 112, 112);
  position: absolute;
}
.fa-heart:nth-of-type(2) {
  left: -2px;
  top: -16px;
  transform: rotate(-29deg);
  font-size: 37px;
  animation: trans2 2.6s;
}
.fa-heart:nth-of-type(3) {
  left: 101px;
  top: -25px;
  transform: rotate(35deg);
  animation: trans2 2.8s;
}
@keyframes trans2 {
  0% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
